body {
	margin: 0;
	min-height: 100dvh;
	font-family: "Brown";
}

.link-unstyled {
	text-decoration: none;
	color: inherit;
}

.title-lg {
	font-weight: 700;
	font-size: 40px;
}

.text-lg {
	font-weight: 300;
	font-size: 20px;
}

@media screen and (min-width: 768px) {
	.title-lg {
		font-size: 50px;
	}

	.text-lg {
		font-size: 30px;
	}
}
